<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>SNS Addiction Stopper</title>
        <link rel="stylesheet" href="../css/popup.css" media="screen">
    </head>
    <body>
        <table style="width:200px;">
            <thead>
                <tr>
                    <th>Service</td>
                    <th> On / Off</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Facebook</td>
                    <td>
                        <input type="checkbox" id="facebookHiddenSwitch" />
                        <span id="facebookNotification"></span>
                    </td>
                </tr>
                <tr>
                    <td>Twitter</td>
                    <td>
                        <input type="checkbox" id="twitterHiddenSwitch" />
                        <span id="twitterkNotification"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Load JavaScript-->
        <script src="../js/lib/jquery.min.js"></script>
        <script src="../js/common_object.js"></script>
        <script src="../js/popup.js"></script>
    </body>
</html>
